/* -------------------------center---------------------------- */
#center .container {
    text-align: center;
}
#center .container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    background-color: var(--sub-color02);
    color: var(--bg-color03);
}
#center .container p {
    padding-top: 15px;
    padding-bottom: 20px;
}
#center .container a {
    color: var(--text-color);
}
#center .container a:first-child {
    color: var(--sub-color02);
    font-weight: 700;
}
#center .container span {
    color: var(--bg-color01);
}
#center .intro {
    text-align: center;
}
#center .intro h3 {
    font-weight: 700;
    font-size: 18px;
    color: #4E88C7;
    padding-bottom: 10px;
}
#center .intro p {
    font-size: 14px;
    padding-bottom: 20px;
}
#center .center img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#center .center .text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#center .center .text p {
    text-align: center;
    font-size: 14px;
}
#center .center .text p span {
    font-weight: 700;
}
#center .center .text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding-top: 20px;
}

/* hover */

#center .container p a:hover {
    color: #4E88C7;
    font-weight: 700;
}
