/* 초기화 코드 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  table {
    border-collapse:collapse;
    border-spacing:0
  }
  
  body {
    font-size: 100%;
    font-family: 'Noto Sans KR', sans-serif;
  }